@model NationalPark
@{
    ViewData["Title"] = "ParkDetail";
}

<section class="centeredPanel">
    <h2>Park Information</h2>

    <div>

        <img src="~/images/@(Model.ParkCode).jpg" style="width:auto; padding: 20px; " />

        <div>
            <p style=" margin-top: 20px; font-weight:bold; font-size:20px; color:forestgreen">@Model.ParkName, @Model.State</p>
            <p style=" margin-top: 0px; font-size:14px; ">Founded @Model.YearFounded</p>
            <div style="color:white; background-color:forestgreen; border-radius: 20px; padding: 15px;">
                <p style=" font-size:14px; margin:0px;">@Model.InspirationalQuote</p>
                <p style=" font-size:14px; margin:0px;"><i>@Model.InspirationalQuoteSource</i></p>
            </div>
            <p style=" margin-top: 20px; font-size:14px; ">@Model.ParkDescription</p>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="color:white; background-color:forestgreen; border-radius: 20px; padding: 15px; width: 300px;">
                <p style=" font-size:18px; margin:0px;"><b>Geographical Information</b></p>
                <p style=" font-size:14px; margin:0px;"><b>Acreage: </b>@Model.Acreage</p>
                <p style=" font-size:14px; margin:0px;"><b>Elevation: </b>@Model.ElevationInFeet ft.</p>
                <p style=" font-size:14px; margin:0px;"><b>Miles Of Trail: </b>@Model.MilesOfTrail</p>
                <p style=" font-size:14px; margin:0px;"><b>Number of Campsites: </b>@Model.NumberOfCampsites</p>
            </div>
            <div style="color:white; background-color:forestgreen; border-radius: 20px; padding: 15px; width: 300px;">
                <p style=" font-size:18px; margin:0px;"><b>Other Information</b></p>
                <p style=" font-size:14px; margin:0px;"><b>Annual Visitors: </b>@Model.AnnualVisitorCount</p>
                <p style=" font-size:14px; margin:0px;"><b>Climate: </b>@Model.Climate</p>
                <p style=" font-size:14px; margin:0px;"><b>Entry Fee: </b>$@Model.EntryFee per car</p>
                <p style=" font-size:14px; margin:0px;"><b>Number of Animal Species: </b>@Model.NumberOfAnimalSpecies</p>
            </div>
        </div>


        <div style=" padding: 0px; margin: 0px;">
            <p style=" margin-top: 20px; font-weight:bold; font-size:20px; color:forestgreen; text-align:center;">Five Day Forecast</p>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="width:175px; padding: 0px; margin: 0px;">
                    <p style=" margin-top: 20px; font-weight:bold; font-size:14px; color:forestgreen; text-align:center;">Today's Conditions</p>

                    <img src="~/images/@(Model.FiveDayForecast[0].Forecast).png" style="width:225px; padding: 0px; margin: 0px;" />
                    <p style=" font-size:14px; margin:0px; text-align:center">
                        Low: @Model.FiveDayForecast[0].LowTemp
                    </p>
                    <p style=" font-size:14px; margin:0px; text-align:center;">
                        High: @Model.FiveDayForecast[0].HighTemp
                    </p>
                    <p style=" margin-top: 20px; font-weight:bold; font-size:14px; color:red; text-align:center;">@Model.ForecastAdvisoryMessagePairs[Model.FiveDayForecast[0].Forecast]</p>

                </div>




                <div style="width:175px; padding: 0px; margin: 0px;">
                    <img src="~/images/@(Model.FiveDayForecast[1].Forecast).png" style="width:150px; padding: 0px; margin: 0px;" />
                    <p style=" font-size:14px; margin:0px; text-align:center">
                        Low: @Model.FiveDayForecast[1].LowTemp
                    </p>
                    <p style=" font-size:14px; margin:0px; text-align:center;">
                        High: @Model.FiveDayForecast[1].HighTemp
                    </p>
                </div>
                <div style="width:175px; padding: 0px; margin: 0px;">
                    <img src="~/images/@(Model.FiveDayForecast[2].Forecast).png" style="width:150px; padding: 0px; margin: 0px;" />
                    <p style=" font-size:14px; margin:0px; text-align:center">
                        Low: @Model.FiveDayForecast[2].LowTemp
                    </p>
                    <p style=" font-size:14px; margin:0px; text-align:center;">
                        High: @Model.FiveDayForecast[2].HighTemp
                    </p>
                </div>
                <div style="width:175px; padding: 0px; margin: 0px;">
                    <img src="~/images/@(Model.FiveDayForecast[3].Forecast).png" style="width:150px; padding: 0px; margin: 0px;" />
                    <p style=" font-size:14px; margin:0px; text-align:center">
                        Low: @Model.FiveDayForecast[3].LowTemp
                    </p>
                    <p style=" font-size:14px; margin:0px; text-align:center;">
                        High: @Model.FiveDayForecast[3].HighTemp
                    </p>
                </div>
                <div style="width:175px; padding: 0px; margin: 0px;">
                    <img src="~/images/@(Model.FiveDayForecast[4].Forecast).png" style="width:150px; padding: 0px; margin: 0px;" />
                    <p style=" font-size:14px; margin:0px; text-align:center">
                        Low: @Model.FiveDayForecast[4].LowTemp
                    </p>
                    <p style=" font-size:14px; margin:0px; text-align:center;">
                        High: @Model.FiveDayForecast[4].HighTemp
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
